{% extends 'todo/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Huello</h1>

    {% for category in category_list %}

    <div class="ui segment">

        <p class="ui big header">{{ category.name }}</p>

        <form class="ui form" action="/add_task/{{ category.id }}" method="post">
            <div class="field">
                <label>Новая задача</label>
                <input type="text" name="title" placeholder="Введите название задачи"><br>
            </div>
            <button class="ui black button" type="submit">Добавить</button>
        </form>

        {% for task in task_list %}
        {% if task.category_id == category.id %}
        <div class="ui segment">

            <p class="ui big header open-modal" data-task-id="{{ task.id }}">{{ task.title }}</p>

            {% if task.status == False %}
            <a class="ui gray button" href="/update/{{ task.id }}">▢</a>
            {% else %}
            <a class="ui green button" href="/update/{{ task.id }}">✔</a>
            {% endif %}

            <a class="ui negative button" href="/delete/{{ task.id }}">Удалить</a>


            <div id="description-{{ task.id }}" class="modal">
                <div class="modal-content">
                    <form class="ui form" action="/update_description/{{ task.id }}" method="post">
                        <div class="field">
                            <input type="text" name="description" placeholder="Описание">
                        </div>
                        <button class="ui black button" type="submit">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}


    </div>

    {% endfor %}

    <form class="ui form" action="/add_category" method="post">
        <div class="field">
            <label>Новая группа</label>
            <input type="text" name="name" placeholder="Введите название группы"><br>
        </div>
        <button class="ui black button" type="submit">Добавить</button>
    </form>

</div>
{% endblock content %}