{% extends 'todo/layout.html' %}

{% block content %}

<div class="ui container" style="margin-top: 50px;">
    <h1 class="ui center aligned header">Huello</h1>

    {% for category in category_list %}

    <!-- category -->
    <div class="ui segment">

        <!-- name -->
        <p class="ui big header">{{ category.name }}</p>


        <!-- sorting -->
        <!--
        <form action="/sorting/{{ category.id }}" method="post" style="display: inline;">
            <select class="ui dropdown" onchange="this.form.submit()" name="value">
                <option value="4" {% if category.sorting==4 %} selected {% endif %}>Сортировать по</option>
                <option value="1" {% if category.sorting==1 %} selected {% endif %}>Приоритет</option>
                <option value="2" {% if category.sorting==2 %} selected {% endif %}>Статус</option>
                <option value="3" {% if category.sorting==3 %} selected {% endif %}>Алфавит</option>
            </select>
        </form>
        -->


        <!-- add task -->
        <form class="ui form" action="/add_task/{{ category.id }}" method="post">
            <div class="field">
                <label>Новая задача</label>
                <input type="text" name="title" placeholder="Введите название задачи" required>
            </div>
            <button class="ui black button" type="submit">Добавить</button>
        </form>

        {% for task in task_list %}
        {% if task.category_id == category.id %}

        <!-- task -->
        <div class="ui segment">

            <!-- title and description button -->
            <p class="ui big header">{{ task.title }} <span class="ui small basic button open-modal"
                    data-task-id="{{ task.id }}">Описание задачи</span>
            </p>


            <!-- status -->
            <a href="/update/{{ task.id }}">

                {% if task.status == False %}
                <i class="ui big grey square outline icon"></i>
                {% else %}
                <i class="ui big green check square icon"></i>
                {% endif %}

            </a>


            <!-- task description -->
            <div id="description-{{ task.id }}" class="modal">
                <div class="modal-content">
                    <form class="ui form" action="/update_description/{{ task.id }}" method="post">
                        <div class="field">

                            {% if task.description == None or task.description.strip() == "" %}
                            <textarea name="description" placeholder="Описание задачи"></textarea>
                            {% else %}
                            <textarea name="description">{{ task.description }}</textarea>
                            {% endif %}

                        </div>
                        <button class="ui black button" type="submit">Подтвердить</button>
                    </form>
                </div>
            </div>


            <!-- priority -->
            <form action="/set_priority/{{ task.id }}" method="post" style="display: inline;">
                <select class="ui dropdown" onchange="this.form.submit()" name="value">
                    <option value="6" {% if task.priority==6 %} selected {% endif %}>Приоритет</option>
                    <option value="1" {% if task.priority==1 %} selected {% endif %}>Lvl. 1</option>
                    <option value="2" {% if task.priority==2 %} selected {% endif %}>Lvl. 2</option>
                    <option value="3" {% if task.priority==3 %} selected {% endif %}>Lvl. 3</option>
                    <option value="4" {% if task.priority==4 %} selected {% endif %}>Lvl. 4</option>
                    <option value="5" {% if task.priority==5 %} selected {% endif %}>Lvl. 5</option>
                </select>
            </form>


            <!-- deadline -->
            <div class="ui inverted calendar input left icon" id="example-{{ task.id }}" data-task-id="{{ task.id }}">
                <i class="ui  calendar alternate outline icon"></i>
                <input type="text" name="date"
                    value="{% if task.deadline %}{{ task.deadline.strftime('%B %d, %Y %I:%M %p') }}{% endif %}"
                    placeholder="Date/Time">
            </div>


            <!-- delete task -->
            <a href="/delete_task/{{ task.id }}" style="display: inline;">
                <i class="ui big red trash alternate outline icon"></i>
            </a>

        </div>

        {% endif %}
        {% endfor %}


        <!-- delete category -->
        <a class="ui negative button" href="/delete_category/{{ category.id }}" style="margin-top: 5px;">Удалить
            группу</a>

    </div>

    {% endfor %}


    <!-- add category -->
    <form class="ui form" action="/add_category" method="post">
        <div class="field">
            <label>Новая группа</label>
            <input type="text" name="name" placeholder="Введите название группы" required>
        </div>
        <button class="ui black button" type="submit">Добавить</button>
    </form>

</div>
{% endblock content %}