{% extends 'todo/layout.html' %}

{% block content %}

<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Мой менеджер задач</h1>

    {% for category in category_list %}

    <div class="ui segment">

        <p class="ui big header">{{ category.name }}</p>

        <form class="ui form" action="/add_task/{{ category.id }}" method="post">
            <div class="field">
                <label>Новая задача</label>
                <input type="text" name="title" placeholder="Введите название задачи"><br>
            </div>
            <button class="ui black button" type="submit">Добавить</button>
        </form>

        {% for task in task_list %}
        {% if task.category_id == category.id %}
        <div class="ui segment">

            <p class="ui big header">{{ task.title }}</p>

            {% if task.status == False %}
            <span class="ui big gray label">▢</span>
            <a class="ui positive basic button" href="/update/{{ task.id }}">Завершено</a>
            {% else %}
            <span class="ui big green label">✔</span>
            <a class="ui negative basic button" href="/update/{{ task.id }}">Не завершено</a>
            {% endif %}
            <a class="ui negative button" href="/delete/{{ task.id }}">Удалить</a>

        </div>
        {% endif %}
        {% endfor %}

    </div>

    {% endfor %}

    <form class="ui form" action="/add_category" method="post">
        <div class="field">
            <label>Новая группа</label>
            <input type="text" name="name" placeholder="Введите название группы"><br>
        </div>
        <button class="ui black button" type="submit">Добавить</button>
    </form>

</div>
{% endblock content %}